.calendar {
  /* 選択色 */
  --rdp-accent-color: var(--color-primary);

  /* Day */
  --rdp-day-width: 40px;
  --rdp-day-height: 40px;

  /* Nav */
  --rdp-nav-height: 40px;
  --rdp-nav-width: 40px;

  /* Cell */
  --rdp-day_button-width: 40px;
  --rdp-day_button-height: 40px;

  /* Today */
  --rdp-today-color: var(--color-primary);
}